<!DOCTYPE.html>
<html>
  <head>
    <title>User Info</title>
  </head>
  <body>
<!--    {{results}}-->
    <a href="{{ url|safe }}">{{ url_linktext }}</a>
    {% for person in people %}
      {% if person.name %}
        {% if user and user.user_id() == person.identity %}
          <br><h1>{{ person.name }}</h1>
          <h3>Email: {{person.email}}</h3>
          <h3>Class Year: {{person.year}}</h3>
          <h3>Bio: {{person.bio}}</h3>
        {% endif %}
      {% endif %}
    {% endfor %}
        <h2>The following are the clubs evaluation you have submitted!</h2>
  </body>
</html>
