<!DOCTYPE.html>
  <html>
    <head>
      <title>Home</title>
    </head>
    <body>
      <ul><br>
        <li><a href="https://clubs-cs50.appspot.com/home" class="button">Home</a></li>
        <li><a href="https://clubs-cs50.appspot.com/about" class="button">About Us</a></li>
        <li><a href="https://clubs-cs50.appspot.com/recent" class="button">Recent</a></li>
        <li><a href="https://clubs-cs50.appspot.com/profile" class="button">My Profile</a></li>
        <li><a href="https://clubs-cs50.appspot.com/club" class="button">Club Evaluation Form</a></li>
        <br><br>
      </ul>
      <form method = "post">
            Search <input type="text" name="q">
            <input type = "submit">
      </form>
    </body>
  </html>
